.FetchButton.isFetching > *:last-child {
  margin-left: 0.5rem;
}

.Icon {
  margin-left: 0.5rem;
}

.FetchButton.error {
  background: var(--text-color-error);
}

.FetchButton.success {
  background: var(--color-success);
}
