.InputLabel {
  position: relative;
  display: flex;
  flex-direction: column;
  color: var(--text-color-secondary);
  font-size: 12px;
}

.InputLabel > input {
  margin-top: var(--block-extra-small);
}
