.Navigation {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: var(--ax-bg-raised);
  overflow: hidden;
  flex-shrink: 0;
}

.Navigation > * {
  margin: 0;
}

.Title {
  display: flex;
  align-items: center;
  margin: 0 0 var(--ax-space-32);
  white-space: nowrap;
}

.Logo {
  width: 1.75rem;
  height: 1.75rem;
  margin-right: var(--ax-space-16);
}

.Links {
  list-style: none;
  padding: 0;
}

.isExpanded {
  width: 350px;
  padding: var(--ax-space-32) var(--ax-space-32) var(--ax-space-8);
}

.isMinified {
  width: 55px;
  padding: var(--ax-space-32) var(--ax-space-8) var(--ax-space-8);
}

.isMinified .Title {
  margin-left: var(--ax-space-8);
}
