@import url('./animations.css');

/*
Dette stilarket er kun for globale stiler. Stiler som kun angår enkeltkomponenter
skal inngå som en del av <style>-taggen til komponentfila.
*/

*:not(code) {
    color: #3e3832;
    font-family: 'Source Sans Pro', sans-serif;
    --font-color: #3e3832;
    --active-color: #00b58a;
    --active-color-dark: #006E54;
    --active-color-blue: #0067c5;
    --active-color-blue-dark: #254b6d;

    --inactive-color: #c2c2c2;
    --background-light: #e5dfdc;
    --background: #d2c5c0;
    --background-dark: #a38f88;
    --light-disabled-color: #f3f3f3;
    --disabled-color: #c2c2c2;
}

body {
    margin: 0;
}

label {
    display: block;
    line-height: 1.4;
    margin-bottom: 0.5rem;
    font-size: 1rem;
    font-weight: 600;
    color: #3e3832;
}

input[type="date"], input[type="text"], input[type="number"] {
    position: relative;
    appearance: none;
    padding: 0.5rem 0.75rem;
    border: none;
    border-radius: 0.5rem 0.5rem 0 0;
    box-shadow: 0 1px 0 0 var(--inactive-color);
    box-sizing: border-box;
    line-height: 1.375rem;
    min-width: 20rem;
    transition: box-shadow 0.2s;
    font-size: 16px;
}

input[type="text"].hide  {
    background-color: #c2c2c2
}

input:disabled {
    background: var(--light-disabled-color);
    color: var(--disabled-color);
}

input:hover { border-color: var(--active-color); }

input:focus {
    outline: 0;
}

input:-moz-submit-invalid, input:-moz-ui-invalid {
    box-shadow: none;
}

.block-l {
    margin-bottom: 3.5rem;
}