.OpprettDokumenter {
  display: flex;
  flex-direction: column;
  margin: 2rem;
}

.OpprettDokumenter > *:not(:last-child) {
  margin-bottom: var(--block-medium);
}

.Title {
  font-size: 1.25rem;
  margin-top: 0;
  margin-bottom: var(--block-small);
}

.CardContainer {
  display: flex;
  flex-direction: column;
  margin-bottom: var(--block-small);
}

.CardContainer > *:not(:last-child) {
  margin-bottom: var(--block-small);
}

.Fødselsnummer {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}
.Fødselsnummer input {
  width: 96%;
}
.SlettPersonButton {
  align-self: end;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--background-color-primary);
  border: #dddddd 1px solid;
  border-radius: 0.25rem;
  height: 1.8rem;
  aspect-ratio: 1/1;
  font-size: 0.8rem;
  transition: all 0.2s ease;
  cursor: pointer;
}
.SlettPersonButton:hover {
  background: var(--active-color-secondary);
  border-color: #00a6ff;
}

.Infotekst {
  color: var(--text-color-secondary);
  font-size: 12px;
}

.PeriodContainer {
  display: flex;
  position: relative;
}

.PeriodContainer > *:not(:last-child) {
  margin-right: 1rem;
}

.PeriodContainer > button {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translate(2.5rem, -50%);
}

.Flex {
  display: flex;
  align-items: center;
}

.Flex > *:not(:last-child) {
  margin-right: 1rem;
}

.DocumentContainer {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
}

.DocumentError {
  font-size: 12px;
  width: 220px; /* For å unngå at PersonCard utvider seg når feilmelding skal vises */
}

.SlettPersonButton.error {
  background: #161616;
  font-size: 1.2rem;
}
