name: Bygg og deploy

on:
  push:
    branches:
      - main

jobs:
  build:
    permissions:
      id-token: write
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-java@v4
        with:
          java-version: 21
          distribution: "temurin"

      - uses: pnpm/action-setup@v4
        with:
          package_json_file: 'frontend/package.json'

      - uses: actions/setup-node@v6
        with:
          node-version: 24
          cache: "pnpm"
          cache-dependency-path: "frontend/pnpm-lock.yaml"

      - name: Gradle setup
        uses: gradle/actions/setup-gradle@v4

      - name: Gradle build
        run: ./gradlew build
        env:
          ORG_GRADLE_PROJECT_githubPassword: ${{ secrets.GITHUB_TOKEN }}

      - name: Set timezone
        run: export TZ=utc

      - name: Install dependencies
        run: pnpm install --frozen-lockfile
        working-directory: "frontend"

      - name: Test frontend
        run: pnpm run test
        working-directory: "frontend"

      - name: Build frontend
        run: pnpm run build
        working-directory: "frontend"

      - name: build docker image
        uses: nais/docker-build-push@v0
        id: docker-build-push
        with:
          team: tbd
      - name: Deploy to dev
        uses: nais/deploy/actions/deploy@v2
        env:
          CLUSTER: dev-gcp
          RESOURCE: deploy/dev-gcp.yml
          IMAGE: ${{ steps.docker-build-push.outputs.image }}
